* {
  padding: 0;
  margin: 0;
  background-color: #D0EFB1;
}
/* navbar */

.nav {
  display: flex;
  background-color: #B3D89C;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  box-shadow: 1px 4px 20px 2px #92b07f;
  position: sticky;
}

.nav-text {
  display: flex;
  background-color: #B3D89C;
  height: 40px;
  align-items: center;
  margin-right: 15%;
  padding-right: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square {
  height: 15px;
  width: 15px;
  background-color:#45553b;
  margin-right: 10px;

}

#name {
  font-weight: bold;
  font-size: xx-large;
  color: black;
  background-color: #B3D89C;
}

#post {
  font-size: x-large;
  padding-left: 8px;
  font-weight: 400;
  color: black;
  background-color: #B3D89C;
}

.nav-ribbon {
  display: flex;
  background-color: #B3D89C;
  width: 25%;
  padding-left: 200px;
  margin-right: 80px;
  margin-left: 50px;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#about {

  margin-right: 12px;
  padding: 25px;
  background-color: #B3D89C;
  color:black ;
  text-decoration: none;
  font-weight:400;
}
#about:hover{
  
  color: #45553b;
}

#resume {
  margin-right: 12px;
  padding: 25px;
  background-color: #B3D89C;
  color:black ;
  text-decoration: none;
  font-weight:400;
}

#resume:hover{
  color: #45553b;
}
#project {

  padding: 25px;
  background-color: #B3D89C;
  color:#45553b ;
  text-decoration: none;
  font-weight:400;
}

#project:hover{
  color: black;
}
#contact {
  margin-right: 12px;
  padding: 25px;
  background-color: #B3D89C;
  color:black ;
  text-decoration: none;
  font-weight:400;
}
#contact:hover{
  color: #45553b;
}

/* Main Body */
.head{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
  display: flex;
  height: 20vh;
  width: 98.8vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;}

div .title{
  display: flex;
  align-items: center;
  padding: 20px;
  margin:90px 40px 40px 40px;

}
div .title p{
  font-weight: bolder;
  font-size: xxx-large;
}
.para{
  display: flex;
  height: 90px;
  width: 50vw ;
  background-color: #D0EFB1;
  margin-top: 75px;
}
.para p{
  font-weight: bold;
  font-size: large;
}
/* box1 */
.vertical-line{
  background-color: #45553b;
  height: 60px;
  width: 1px;
  margin-top: 45px;
  padding-left: 10px;
}
.project-name{
  font-weight: bolder;
  font-size: xx-large;
  color: #45553b;
  padding: 0;
  margin: 0;
}
.role{
  padding: 0;
  margin-top: 5px;
  font-weight: 800;
  font-size: larger;
}
.project-info{
  padding-top: 10px;
  margin-top: 50px;
}
.content-boxes{
  display: flex;
  width: 98.8%;
  height: 200vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: -50px;
}
.box1{
  background-color: white;
  height: 50vh;
  width: 45vw;
  margin: 0px 40px 40px 40px;
  display: flex;
  flex-direction: row;
  box-shadow:0px 1px 20px 5px #92b07f;
}
.info1{
  display: flex;
  height: 40vh;
  width: 25vw;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  margin: 10px;
}
.info1 p{
  width: 25vw;
  background-color: white;

}
.project-img1{
  background-color: black;
  height: 50vh;
  width: 17vw;
}
.project-img1 img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* box2 */
.box2{
  background-color: white;
  height: 50vh;
  width: 45vw;
  margin: 40px;
  display: flex;
  flex-direction: row;
  box-shadow:0px 1px 20px 5px #92b07f;
}

.vertical-line{
  background-color: #45553b;
  height: 60px;
  width: 1px;
  margin-top: 45px;
  padding-left: 10px;
}
.project-name{
  font-weight: bolder;
  font-size: xx-large;
  color: #45553b;
  padding: 0;
  margin: 0;
}
.role{
  padding: 0;
  margin-top: 5px;
  font-weight: 800;
  font-size: larger;
}
.project-info{
  padding-top: 10px;
  margin-top: 50px;
}
.content-boxes{
  display: flex;
  width: 98.8%;
  height: 200vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.box2{
  background-color: white;
  height: 50vh;
  width: 45vw;
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.info2{
  display: flex;
  height: 40vh;
  width: 25vw;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  margin: 10px;
}
.info2 p{
  width: 25vw;
  background-color: white;

}
.project-img2{
  background-color: black;
  height: 50vh;
  width: 17vw;
}
.project-img2 img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* box3 */
.box3{
  background-color: white;
  height: 50vh;
  width: 45vw;
  margin: 40px;
  display: flex;
  flex-direction: row;
  box-shadow:0px 1px 20px 5px #92b07f;
}

.vertical-line{
  background-color: #45553b;
  height: 60px;
  width: 1px;
  margin-top: 45px;
  padding-left: 10px;
}
.project-name{
  font-weight: bolder;
  font-size: xx-large;
  color: #45553b;
  padding: 0;
  margin: 0;
}
.role{
  padding: 0;
  margin-top: 5px;
  font-weight: 800;
  font-size: larger;
}
.project-info{
  padding-top: 10px;
  margin-top: 50px;
}
.content-boxes{
  display: flex;
  width: 98.8%;
  height: 200vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.box3{
  background-color: white;
  height: 50vh;
  width: 45vw;
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.info3{
  display: flex;
  height: 40vh;
  width: 25vw;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  margin: 10px;
}
.info3 p{
  width: 25vw;
  background-color: white;

}
.project-img3{
  background-color: black;
  height: 50vh;
  width: 17vw;
}
.project-img3 img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}


/* footer */
.foot{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow:-1px -6px 20px 2px #92b07f;
  height: 80px;
  display: flex;
  background-color: #B3D89C;
  position:static;
}
.copyright{
  display: flex;
  background-color: #B3D89C;
  align-items: center;
  width: 340px;
  text-align: center;
  padding-left: 20px;
  margin-right: 13%;
}
.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
  margin-left: 30%;
  width: 500px;
  background-color: #B3D89C;

}
.number{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
  margin: 10px;
  background-color: #B3D89C;
}
.write{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px;
  margin: 10px;
  background-color: #B3D89C;
}
#follow{
  text-align: center;
  padding-bottom: 7px;
  background-color: #B3D89C;
}
#contact2{
  text-align: center;
  padding-bottom: 5px;
  background-color: #B3D89C;
}
#cont-number{
  font-weight:400;
  text-align: center;
  padding-bottom: 5px;
  background-color: #B3D89C;
}
#write{

  text-align: center;
  padding-bottom: 5px;
  background-color: #B3D89C;
}
.write a{
  font-weight: 400;
  text-decoration: none;
  background-color: #B3D89C;
}
.social-link{
  display: flex;
  background-color: #B3D89C;

}
.social-link a img {
  background-color: #B3D89C;
  width: 25px;

}

.social-link a{
  background-color: #B3D89C;
}